<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #firstName {
            width: 800px;
        }
    </style>

    <style>
        #lastName {
            width: 800px;
        }
    </style>

    <style>
        #phone {
            width: 800px;
        }
    </style>

    <style>
        #position {
            width: 800px;
        }
    </style>


</head>
<body>
<#include "../nav/nav.ftlh">
<div class="p-5 text-center bg-light">
    <#if employee.id ? has_content>
        <h1 class="mb-3">${employee.firstName + ' ' + employee.lastName}</h1>
    <#else>
        <h1 class="mb-3"><font color="black" face="COMIC SANS MS">Create a new employee</font></h1>
    </#if>

    <form method="POST" style=" background-image: url(https://img5.goodfon.ru/wallpaper/nbig/4/a2/zima-novyi-god-rozhdestvo-novogodnie-ukrasheniia-novogodn-30.jpg);
    background-repeat: no-repeat; background-size: cover; width: 100%; height: 500px;" action="/ui/employees"
          modelAttribute="employeeDto">
        <#--      Id      -->
        <input type="hidden" id="id" name="id" value="${(employee.id)!}">

        <#--      First Name      -->
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><font color="black" face="COMIC SANS MS">First
                                mame</font></label>
                    </div>
                </td>
                <td style="padding-left:32px;">
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstName" name="firstName"
                               placeholder="Enter your first mame" autofocus required value="${(employee.firstName)!}">
                    </div>
                </td>
            </tr>
        </table>

        <p></p>

        <#--      Last Name      -->

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><font color="black" face="COMIC SANS MS">Last
                                mame</font></label>
                    </div>
                </td>
                <td style="padding-left:34px;">
                    <div class="form-group">
                        <input type="text" class="form-control" id="lastName" name="lastName"
                               placeholder="Enter your last mame" autofocus required value="${(employee.lastName)!}">
                    </div>
                </td>
            </tr>
        </table>

        <p></p>

        <#--      Position      -->

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><font color="black" face="COMIC SANS MS">Position</font></label>
                    </div>
                </td>
                <td style="padding-left:52px;">
                    <div class="form-group">
                        <input type="text" class="form-control" id="position" name="position"
                               placeholder="Enter position" autofocus required value="${(employee.position)!}">
                    </div>
                </td>
            </tr>
        </table>

        <p></p>

        <#--      Phone      -->

        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><font color="black" face="COMIC SANS MS">Phone</font></label>
                    </div>
                </td>
                <td style="padding-left:65px;">
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" name="phone"
                               placeholder="Enter phone (format: +71234567891)" pattern="[\+]\d{1}\d{3}\d{3}\d{2}\d{2}"
                               minlength="18" maxlength="18"
                               value="${(employee.phone)!}">
                    </div>
                </td>
            </tr>
        </table>

        <p></p>

        <button type="submit" class="btn btn-primary"><font color="white" face="COMIC SANS MS">Submit</font></button>
    </form>
</div>
</body>
</html>